In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/patients.csv')

In [3]:
df

       NAME  WEIGHT  HEIGHT
0     สมศรี      51     159
1  สมศักดิ์      71     177
2   สมบูรณ์      90     181
3      สมใจ      42     161

In [4]:
# สร้าง column ใหม่ ชื่อ BMI เพื่อคำนวณ
df['BMI'] = df['WEIGHT'] / ((df['HEIGHT']/100)**2)

#อีกอันแต่ลบ column บนก่อน

In [5]:
df

       NAME  WEIGHT  HEIGHT        BMI
0     สมศรี      51     159  20.173253
1  สมศักดิ์      71     177  22.662709
2   สมบูรณ์      90     181  27.471689
3      สมใจ      42     161  16.203079

In [6]:
df[df['BMI'] > 22]

       NAME  WEIGHT  HEIGHT        BMI
1  สมศักดิ์      71     177  22.662709
2   สมบูรณ์      90     181  27.471689

In [7]:
df.to_csv('Patient_BMI.csv', index = False, encoding ='utf-8-sig')

# index = false คือจะไม่เซฟเลขแถวไปในไฟล์
# utf-8-sig' คือรองรับภาษาไทย